body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea,select,td,th{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑";
	display: -webkit-flex;
	-webkit-flex-direction:column;
	background:#f0f0f0;
}
img{
	border: none;
	display: block;
}
html{
	font-size: 26.67vw;
}

/* header */
header{
	width:100%;
	height:.43rem;
	background:#f9e700;
}
.head{
	width:2.74rem;
	margin:.1rem auto;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:center;
	position:relative;
}
.head a{
	color:#000;
	font-size:.18rem;
}
.head span{
	width:.35rem;
	height:.05rem;
	background:#000;
	position:absolute;
	top:.28rem;
	right:2.38rem;
}
/* section */
section{
	width:100%;
	height:.88rem;
	background:#fff;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
	box-shadow: 0 0 .05rem #e5e5e5;
	margin-bottom:.12rem;
}
section a{
	color:#000;
}
section a:first-child{
	margin-left:.15rem;
}
section a:last-child{
	margin-right:.15rem;
}
section img{
	width:.4rem;
	heigth:.4rem;
	margin-top:.15rem;
	margin-bottom:.05rem;
}
section span{
	font-size:.11rem;
	display: block;
	text-align:center;
}

/* artical */
artical{
	width:100%;
	background:#fff;
	overflow:auto;
	flex:1;
}
.artical_box{
	border-bottom:2px solid #e3e3e3;
	width:100%;
}
.artical_tit{
	width:3.45rem;
	height:.32rem;
	margin:0 auto;
	padding:.1rem 0;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
}
.artical_tit_img{
	display: -webkit-flex;
}
.artical_tit img{
	width:.32rem;
	height:.32rem;
}
.artical_tit_name{
	height:.27rem;
	margin-left:.045rem;
	padding-top:.05rem;
}
.artical_tit_name span{
	font-size:.1rem;
	float:left;
}
.artical_tit_name p{
	font-size:.08rem;
	color:#e7e7e7;
}
#artical_span{
	width:.5rem;
	height:.11rem;
	border:1px solid #000;
	border-radius: .08rem;
	margin-top:.07rem;
	font-size:.09rem;
	line-height: .09rem;
	text-align: center;
	padding:.045rem;
}
/* 图片 */
.img_boxs{
	width:3.45rem;
	margin:0 auto;
	padding:.1rem 0;
	overflow:hidden;
}
.img_boxs_li{
	margin-bottom:.15rem;
	overflow:hidden;
}
.img_boxs_li img{
	width:3.33rem;
	height:1.85rem;
	float:left;
}
/* 心 */
.img_boxs_icon{
	padding-left:.05rem;
	background:red;
}
.img_boxs_icon img{
	width:.14rem;
	height:.11rem;
	float:left;
	margin-right:.05rem;
	margin-top:.02rem;
}
.img_boxs_icon span{
	font-size:.11rem;
	float:left;
	margin-right:.2rem;
}
#time{
	color:#D9D9D9;
	margin-left:.8rem;
}

/* footer */
footer{
	width:100%;
	height:.4rem;
	padding-top:.03rem;
	background:#fdfdfd;
	
}
.footer_box{
	width:3.43rem;
	margin:0 auto;
	padding:0 .01rem;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
}
footer img{
	width:.19rem;
	height:.19rem;
	margin-bottom:4px;
}
footer span{
	color:#626161;
	font-size:.1rem;
	float:left;
}
